{% extends 'layout.html' %}

     
{% block title %}Add_Movies{% endblock %}

{% block content %}
 
    

			<div class="content">
				
			<form action="/user_dashboard" method="post" autocomplete="off">
				<h3>Hi {{session['username']}} Please Confirm the Details and select the number of seats</h1>
				
					<table><tr>
				<td><label for="movie Name">
					Movie Name      
				</label></td>
				<td><input type="text" name="movie_name" placeholder="Movie_name" id="movie_name" value='{{movie_info[3]}}' readonly></td>
				</tr>
			    <tr>
				<td><label for="Theater Name">
					Theater Name    
				</label></td>
				<td><input type="text" name="theater_name" placeholder="Theater Name" id="theater_name" value='{{movie_info[1]}}' readonly></td>
				</tr>
				<tr><td>
				<label for="Available Seats" >
					Available Seats
					
				</label></td>
				<td><input type="number" name="seats" placeholder="Number of Seats" id="seats" value={{seats_left}} readonly></td></tr>
				
				<tr><td>
               <label for="Timing"> Timing </label></td>
               <td><input type="text" name="timings" placeholder="Timings(comma seperated)" id="timings" value='{{booking_datetime}}' readonly>
 				</td></tr>
				 <tr><td>
               <label for="Genre"> Genre </label></td>
               <td><input type="text" name="genre" placeholder="Genre" id="genre" value={{movie_info[6]}} readonly>
              </td></tr>

			  <tr>
			<td>
               <label for="Duration">Duration In Min</label></td>
               <td><input type="text" name="duration" placeholder="duration" id="duration" value={{movie_info[8]}} readonly>
				</td></tr>
			 
				<tr>
					<td>
               <label for="Cost Per Ticket">COst Per Ticket</label></td>
               <td><input type="number" name="cost" placeholder="Cost in Rupees" id="cost" value={{movie_info[7]}} readonly>
			  </td></tr>

			  <tr>
				<td>
			   <label for="Number of Seats To Book">Select Number Of Seats</label></td>
               <td><input type="number" onchange="calculate()" name="select_seats"  placeholder="select number of seats" id="select_seats" min="1" max={{seats_left}} required><br>
		      </td></tr>

			  <tr><td>
			   <label>Total Cost</label>	</td>
			   <td><input type="text" name="total_cost" placeholder="total_cost" id="total_cost" readonly></td></tr>
              </table>
			   <input type="submit" value="confirm_booking">

               <script>
               function calculate()
			   {
                  var cost=document.getElementById("cost").getAttribute("value");
				  var seats=document.getElementById("select_seats").value;
				  
				  var total_cost=cost*seats;
				  var total=document.getElementById("total_cost")
				  total.setAttribute("value",total_cost)
			   }
			   </script>
			</form>
		</div>
{% endblock %}