<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="../static/signup.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<nav class="navtop">
			<div>
				<h1>Movie Hub</h1>
				<a href="#"><i class="fas fa-home"></i>Home</a>
				<a href="#"><i class="fas fa-user-circle"></i>Profile</a>
				<a href="#"><i class="fas fa-sign-out-alt"></i>Logout</a>
				
			</div>
		</nav>
		<div class="login">
			
			<h1>Login</h1>
			<div class="links">
				<a href="/signIn" class="active">Login</a>
				<a href="/showSignUp">Register</a>
			</div>
			<form action="/signIn_user" method="post">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="email" placeholder="Email" id="email" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Login">
			</form>
		</div>
	</body>
</html>