{% extends 'layout.html' %}

     
{% block title %}Add_Movies{% endblock %}

 

{% block content %}
<h2>Dashboard Page</h2>
<div>
    <p>Your Current details are below:</p>
    <table>
        <tr>
            <td>Current_movie:</td>
            <td>{{ result[2] }}</td>
        </tr>
        <tr>
            <td>Total Tickets Booked:</td>
            <td>{{ total_ticket }}</td>
        </tr>

        <tr>
            <td>Total Earned:</td>
            <td>{{total_cost}}</td>
        </tr>
    </table>
    
</div>
{% endblock %}
